@import './variables.scss';

body {
  overflow-x: hidden;
  margin-bottom: 0 auto !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.c-btn {
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid;
  box-shadow: 0px 0px 5px #0000002e;
  cursor: pointer;
  text-transform: uppercase;
  
  &.btn-green {
    background-color: $green;
    color: $white;
    border-color: $green;
    &:hover {
      background-color: darken($green, 5%);
    }
  }
  &.btn-white {
    background-color: $white;
    color: $black;
    border-color: $white;
    &:hover {
      background-color: darken($white, 5%);
    }
  }
  &.btn-black {
    background-color: $black;
    color: $white;
    border-color: $black;
    &:hover {
      background-color: darken($gray, 5%);
    }
  }
}