<div class="discount">
    <div class="content">
        <p style="text-transform: uppercase;">Hot Offer</p>
        <h4>Only two days</h4>
        <p class="info">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a 
            piece of classical Latin literature from 45 BC
        </p>
        <h1>-30% Off</h1>
        <div class="email">
            <input type="email" placeholder="Your email">
            <a class="c-btn btn-green">Forward</a>   
        </div>
    </div>
    <div class="g-img">
        <img src="../../../assets/img/man">
    </div>
</div>