<div class="info-card d-flex align-items-center" style="background-image: url(https://rb.gy/3ne3ac);">
    <div class="card-content">
        <p>Relax Collection</p>
        <h2>Your Perfect Sound</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
            galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="learn-btn">
            <a class="c-btn btn-black">Learn more</a>
        </div>
    </div>
</div>