<div class="info-card d-flex align-items-center" style="background-image: url(https://rb.gy/3ne3ac);">
    <div class="card-content">
        <p style="text-transform: uppercase;">Relax Collection</p>
        <h2>Your Perfect Sound</h2>
        <p class="info">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
            been the industry's standard dummy text
        </p>
        <div class="learn-btn mt-5">
            <a class="c-btn btn-black">Learn more</a>
        </div>
    </div>
</div>