<header>
    <div class="header">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="leftside">
                    <a href="#">
                        <img src="../../../assets/img/logo">
                    </a>
                </div>
                <div class="rightside">
                    <ul>
                        <li><a href="#" class="c-btn btn-green">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li>
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>