@import '/src/styles.scss';

.header{
    padding: 20px 0;
    .leftside {
        a {
            img {
                width: 65px;
                height: 45px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .rightside {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0px;
            li {
                padding: 0 20px;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $black;
                    text-transform: uppercase;
                    &.c-btn {
                        padding: 4px 15px;
                    }
                    &.btn-green {
                        color: $white;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.mobile-header {
    ul {
        padding-top: 50px;
        list-style: none;
        li {
            padding: 10px;
            font-size: 25px;
            a {
                color: #000000;
            }
        }
    }
    &.side {
        height: 100vh;
        position: fixed;
        z-index: 99;
        top: 65px;
        bottom: 0;
        background: $white;
        width: 100%;
        position: fixed;
        left: -100%;
        transition: 0.8s;
        &.show{
            left: 0;
        }
    }
}

.hamburger-bars {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    color: black;
    top: 10px;
    right: 15px;
    font-size: 32px;
}