@import '/src/styles.scss';

.header{
    padding: 20px 0;
    .leftside {
        a {
            img {
                width: 65px;
                height: 45px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .rightside {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0px;
            li {
                padding: 0 20px;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $black;
                    text-transform: uppercase;
                    &.c-btn {
                        padding: 4px 15px;
                    }
                    &.btn-green {
                        color: $white;
                    }
                }
            }
        }
    }
}