@import '/src/styles.scss';

.best-products {
    padding: 3rem 0;
    .headings {
        text-align: center;
        p {
            position: relative;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            color: $silver;
        }
        h4 {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 2.5rem;
            &::after {
                content: "";
                position: absolute;
                right: 33rem;
                top: 80px;
                width: 100px;
                height: 0px;
                border-bottom: 1px solid $silver;
            }
        }
    }
    .view-btn {
        margin-top: 3rem;
    }
}
.discount-card {
    padding: 3rem 0;
}
.hotsale-card {
    padding: 3rem 0;
    h4 {
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        padding-bottom: 2.5rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0rem;
            top: 43px;
            width: 45px;
            height: 0px;
            border-bottom: 1px solid $silver;
        }
    }
}
.blog-card {
    padding: 3rem 0;
    .headings {
        text-align: center;
        p {
            position: relative;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            color: $silver;
        }
        h4 {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 2.5rem;
            &::after {
                content: "";
                position: absolute;
                right: 33rem;
                top: 80px;
                width: 100px;
                height: 0px;
                border-bottom: 1px solid $silver;
            }
        }
    }
}