<section>
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="leftside">
                    <ul>
                        <li>
                            <a href="#">CONTACT US <span>+90 990 9090909</span></a>
                        </li>
                        <li>
                            <a href="#">EMAIL <span>test@email.com</span></a>
                        </li>
                    </ul>
                </div>
                <div class="rightside">
                    <ul>
                        <li>
                            <a class="pr-3" href="#">LOGIN</a>
                            <span>OR</span>
                            <a class="pl-3" href="#">REGISTER</a>
                        </li>
                        <!-- <li>
                            <div class="form-group">
                                <select class="form-control">
                                  <option selected>UK</option>
                                  <option>USA</option>
                                  <option>AUS</option>
                                </select>
                            </div>
                        </li> -->
                        <li>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-repeat"></i>
                                <p class="repeat-count">0</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">MY CART
                                <i class="fa-solid fa-bag-shopping"></i>
                                <span class="count d-flex justify-content-center align-items-center">0</span>
                            </a>
                            <span class="amount">0.00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>