@import '/src/styles.scss';

.description {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    .img-sec {
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }
    .content-sec {
        padding-left: 2rem;
        p {
            color: $white;
            font-size: 15px;
            padding-bottom: 10px;
            &.brief {
                width: 85%;
                padding: 22px 0;
            }
        }
        h5 {
            color: $white;
            font-size: 45px;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 1.4rem;
            &::after {
                content: "";
                position: absolute;
                left: 3.2rem;
                top: 70px;
                width: 50px;
                height: 0px;
                border-bottom: 1px solid $white;
            }
        }
        .price {
            p {
                padding-right: 20px;
                font-size: 17px;
                span {
                    font-weight: 500;
                    padding-left: 8px;
                }
            }
        }
    }
}