<div class="description" style="background-image: url(../../../assets/img/desc-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 d-none d-md-block d-lg-block">
                <div class="img-sec">
                    <img src="../../../assets/img/headphone.png">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-7">
                <div class="content-sec">
                    <h5>REAL BEAT TRX</h5>
                    <p class="brief">There are many variations of passages of Lorem Ipsum, but the majority have
                        suffered alteration in some form, by injected humour. Lorem Ipsum, but the majority have
                        suffered alteration in some form, by injected
                    </p>
                    <div class="d-none d-md-block d-lg-block">
                        <div class="price d-flex align-items-center">
                            <p>Best Price: <span>$195.00</span></p>
                            <a class="c-btn btn-white mr-2">Learn More</a>
                            <a class="c-btn btn-black">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>