<section>
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="company-detail">
                                    <img src="./img/security3.png">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aperiam
                                        repudiandae enim, esse eos iure explicabo ex autem quisquam asperiores.</p>

                                    <div class="inner-info">
                                        <a href="#"><i class="fa-solid fa-mobile-screen-button"></i> Contact Me: +3 008
                                            878 888</a>
                                        <a href="#"><i class="fa-solid fa-envelope"></i> Email us:
                                            sample12@gmail.com</a>
                                        <a href="#"><i class="fa-solid fa-location-dot"></i> Address: House no.3 lane 5,
                                            london</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2 col-lg-2">
                                <div class="company-list">
                                    <h3>QUICK LINKS</h3>

                                    <ul>
                                        <li><a href="#">HOME</a></li>
                                        <li><a href="#">ABOUT US</a></li>
                                        <li><a href="#">PROJECTS</a></li>
                                        <li><a href="#">BLOG</a></li>
                                        <li><a href="#">GALLERY</a></li>
                                        <li><a href="#">CONTACT</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-2 col-lg-2">
                                <div class="company-list">
                                    <h3>&nbsp</h3>

                                    <ul>
                                        <li><a href="#">ACCESSORIES</a></li>
                                        <li><a href="#">HEADPHONES</a></li>
                                        <li><a href="#">LAPTOPS</a></li>
                                        <li><a href="#">SMART WATCHES</a></li>
                                        <li><a href="#">SPORTS</a></li>
                                        <li><a href="#">GADGETS MOBILE</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="some-post">
                                    <h3>SOME POST</h3>

                                    <div class="main-post">
                                        <div class="post-img">
                                            <img src="./img/tree-736885_1280.jpg">
                                        </div>

                                        <div class="post-content">
                                            <p>DEC, 20, 2020</p>
                                            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit</h6>
                                        </div>
                                    </div>

                                    <div class="main-post">
                                        <div class="post-img">
                                            <img src="./img/tree-736885_1280.jpg">
                                        </div>

                                        <div class="post-content">
                                            <p>AUG, 15, 2021</p>
                                            <h6>Lorem ipsum dolor sit amet consectetur</h6>
                                        </div>
                                    </div>

                                    <div class="main-post">
                                        <div class="post-img">
                                            <img src="./img/tree-736885_1280.jpg">
                                        </div>

                                        <div class="post-content">
                                            <p>JUN, 10, 2021</p>
                                            <h6>Lorem ipsum dolor sit amet consectetur</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2 col-lg-2">
                                <div class="popular">
                                    <h3>POPULAR TAGS</h3>

                                    <div class="popular-chips">
                                        <div class="custom-chip"><a href="#">HOME</a></div>
                                        <div class="custom-chip"><a href="#">ABOUT US</a></div>
                                        <div class="custom-chip"><a href="#">PRODUCTS</a></div>
                                        <div class="custom-chip"><a href="#">SERVICES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="bottom-bar">
                        <div class="bottom-left">
                            <p>© 2024 - All Rights Reserved Development by - <a href="#">Sample.com</a></p>
                        </div>

                        <div class="bottom-center">
                            <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-twitch"></i></a>
                        </div>

                        <div class="bottom-right">
                            <a href="#"><img src="./img/bottom-bar1.png"></a>
                            <a href="#"><img src="./img/bottom-bar2.png"></a>
                            <a href="#"><img src="./img/bottom-bar1.png"></a>
                            <a href="#"><img src="./img/bottom-bar4.png"></a>
                            <a href="#"><img src="./img/bottom-bar2.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>